---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&piprop=original&prop=pageimages&redirects=1&titles=Common+x+Barrow%27s+Goldeneye+%28hybrid%29
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 135.180.0.237
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":0,"title":"Common
        x Barrow''s Goldeneye (hybrid)","missing":""}}}}'
  recorded_at: Wed, 05 May 2021 04:45:23 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&piprop=original&prop=pageimages&redirects=1&titles=Bucephala+clangula+x+islandica
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 135.180.0.237
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":0,"title":"Bucephala
        clangula x islandica","missing":""}}}}'
  recorded_at: Wed, 05 May 2021 04:45:23 GMT
recorded_with: VCR 6.0.0
