---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&piprop=original&prop=pageimages&redirects=1&titles=Herring+Gull
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 135.180.0.237
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"Herring Gull","to":"Herring
        gull"}],"pages":{"27565629":{"pageid":27565629,"ns":0,"title":"Herring gull"}}}}'
  recorded_at: Wed, 05 May 2021 03:13:17 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&piprop=original&prop=pageimages&redirects=1&titles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 135.180.0.237
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":""}'
  recorded_at: Wed, 05 May 2021 03:13:18 GMT
recorded_with: VCR 6.0.0
