---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&piprop=original&prop=pageimages&redirects=1&titles=Sora
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 135.180.0.237
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"309219":{"pageid":309219,"ns":0,"title":"Sora"}}}}'
  recorded_at: Wed, 05 May 2021 04:45:23 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&piprop=original&prop=pageimages&redirects=1&titles=porzana+carolina
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 135.180.0.237
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"porzana carolina","to":"Porzana
        carolina"}],"redirects":[{"from":"Porzana carolina","to":"Sora (bird)"}],"pages":{"308742":{"pageid":308742,"ns":0,"title":"Sora
        (bird)","original":{"source":"https://upload.wikimedia.org/wikipedia/commons/2/2d/Sora_%28Porzana_carolina%29.jpg","width":900,"height":600}}}}}'
  recorded_at: Wed, 05 May 2021 04:45:23 GMT
recorded_with: VCR 6.0.0
