---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/67.170.238.57/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "67.170.238.57",
          "city": "Berkeley",
          "region": "California",
          "country": "US",
          "loc": "37.8716,-122.2728",
          "postal": "94712",
          "timezone": "America/Los_Angeles",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Wed, 05 May 2021 04:01:01 GMT
recorded_with: VCR 6.0.0
