---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&prop=pageimages&format=json&piprop=original&titles=Canada%20Goose&redirects=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 23.119.166.17
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"Canada Goose","to":"Canada
        goose"}],"pages":{"218972":{"pageid":218972,"ns":0,"title":"Canada goose","original":{"source":"https://upload.wikimedia.org/wikipedia/commons/4/40/Canada_goose_on_Seedskadee_NWR_%2827826185489%29.jpg","width":4281,"height":3256}}}}}'
      effective_url: https://en.wikipedia.org/w/api.php?action=query&prop=pageimages&format=json&piprop=original&titles=Canada%20Goose&redirects=1
  recorded_at: Fri, 12 Mar 2021 04:02:50 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&piprop=original&prop=pageimages&redirects=1&titles=Canada%20Goose
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 23.119.166.17
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"Canada Goose","to":"Canada
        goose"}],"pages":{"218972":{"pageid":218972,"ns":0,"title":"Canada goose","original":{"source":"https://upload.wikimedia.org/wikipedia/commons/4/40/Canada_goose_on_Seedskadee_NWR_%2827826185489%29.jpg","width":4281,"height":3256}}}}}'
  recorded_at: Fri, 12 Mar 2021 04:02:50 GMT
recorded_with: VCR 6.0.0
