---
http_interactions:
- request:
    method: get
    uri: https://api.ebird.org/v2/data/obs/L6530472/recent/?back=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-eBirdApiToken:
      - 3nt7houcf01l
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"speciesCode":"bknsti","comName":"Black-necked Stilt","sciName":"Himantopus
        mexicanus","locId":"L6530472","locName":"Adobe Creek--north of US-101","obsDt":"2022-05-03
        15:32","howMany":18,"lat":37.43515,"lng":-122.102342,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S108861940"},{"speciesCode":"wessan","comName":"Western
        Sandpiper","sciName":"Calidris mauri","locId":"L6530472","locName":"Adobe
        Creek--north of US-101","obsDt":"2022-05-03 15:32","howMany":3000,"lat":37.43515,"lng":-122.102342,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S108861940"},{"speciesCode":"forter","comName":"Forster''s
        Tern","sciName":"Sterna forsteri","locId":"L6530472","locName":"Adobe Creek--north
        of US-101","obsDt":"2022-05[...]
