---
http_interactions:
- request:
    method: get
    uri: https://api.ebird.org/v2/data/obs/geo/recent/?lat=37.42&lng=-121.91&maxResults=1&back=10&dist=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-eBirdApiToken:
      - a9qvaguuedjc
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"speciesCode":"cangoo","comName":"Canada Goose","sciName":"Branta
        canadensis","locId":"L4309025","locName":"Central Park","obsDt":"2021-03-11
        13:56","howMany":30,"lat":37.3427558,"lng":-121.975193,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S83210166"}]'
      effective_url: https://api.ebird.org/v2/data/obs/geo/recent/?lat=37.42&lng=-121.91&maxResults=1&back=10&dist=25
  recorded_at: Fri, 12 Mar 2021 03:39:53 GMT
- request:
    method: get
    uri: https://api.ebird.org/v2/data/obs/geo/recent/?back=10&dist=25&lat=37.42&lng=-121.91&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ebirdapitoken:
      - a9qvaguuedjc
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"speciesCode":"cangoo","comName":"Canada Goose","sciName":"Branta
        canadensis","locId":"L4309025","locName":"Central Park","obsDt":"2021-03-11
        13:56","howMany":30,"lat":37.3427558,"lng":-121.975193,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S83210166"}]'
  recorded_at: Fri, 12 Mar 2021 03:39:53 GMT
recorded_with: VCR 6.0.0
