/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

main {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

#leaflet-map {
	width: 100vmax;
	height: 100vmax;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

$white: #FFFFFF;
$black: #000;
$darkblue: #73829F;
$logogold: #B4894C;
$gold: #FFCD1A;

// set all elements 
* {
	font-family: 'Mulish', sans-serif;
}

.header {
	display: flex;
	position: relative;
	//background-color: red;
	align-items: center;
	justify-content: space-between;
	margin: 10px;
	z-index: 1;
	pointer-events: none;

	div {
		pointer-events: auto;
	}

	.title {
		background-color: $white;
		border-radius: 999px;
		padding: 0 20px;
		padding: 10px;
		display: flex;
		margin: 5px;
		align-items: center;

		.logo {
			height: 20px;
		}

		.name {
			font-size: 14px;
		}
	}

	.nav {
		display: flex;
		position: relative;

		.nav-btn {
			width: 30px;
			height: 30px;
			background-color: $white;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 2.5px;
			cursor: pointer;
			position: relative;
		}

		.info {
			box-sizing: border-box;
			background-color: $gold;

		}
	}
}


.overlay {
	display: flex;
	position: absolute;
	background-color: $white;
	// bottom: -30vh; // FIX
	left: 10px;
	// width: 100%;
	width: 50vw;
	flex-direction: column;
	align-items: center;
	// border-top-left-radius: 40px;
	// border-top-right-radius: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 40px rgba($black, 0.3);

	&[hidden] {
		display: none;
	}

	.expand-icon {
		margin-top: 10px;
		width: 38px;
		height: 6px;
		border-radius: 10px;
		background-color: #E5E5E5;
	}

	.content {
		padding: 30px;

		.bird-name {
			font-size: 25px;
			font-weight: bold;
		}

		.science-name {
			font-size: 18px;
			font-weight: 550;
			color: $darkblue;
		}

		.bird-img-wrapper {
			margin-top: 10px;
			margin-bottom: 10px;

			.bird-img {}
		}

		.location-wrapper {
			display: flex;
			align-items: center;

			.location {}

			.separator {
				font-size: 8px;
				margin: 0 5px;
				color: $darkblue
			}

			.distance {
				color: $black;
			}
		}

		.description-wrapper {
			display: flex;
			position: relative;
			flex-direction: column;
			margin-top: 15px;

			.description-header {
				font-size: 16px;
				font-weight: bold;
			}

			.description-content {
				margin-top: 7px;
				font-size: 16px;

			}

		}
	}

}

.bird-icon {
	text-align: center;
	line-height: 20px;
	color: #3498DB;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.bird-icon-selected {
	text-align: center;
	line-height: 20px;
	color: #db3434;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hotspot-icon {
	text-align: center;
	line-height: 20px;
	color: #00b300;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hotspot-icon-selected {
	text-align: center;
	line-height: 20px;
	color: #db3434;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.user-icon {
	text-align: center;
	line-height: 20px;
	color: #3498DB;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

nav {
	display: block;
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	&[hidden] {
		display: none;
	}
	a {
		background-color: white;
		padding: 0.25em 2em;
		border-radius: 999px;
		margin: 0.1em;
		user-select: none;
		box-shadow: 2px 2px 4px rgba(black, 0.2);
	}
}