<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li>San Francisco Bay Bird Observatory ● <a href="https://maps.google.com/?q=524+Valley+Way,+Milpitas,+CA+95036&amp;entry=gmail&amp;source=g"> 524 Valley Way, Milpitas, CA 95035 </a> ● 408-946-6548 ● <a href="mailto:outreach@sfbbo.org" target="_blank">outreach@sfbbo.org</a></li>
            <br>
            <li>Images from Wikipedia</li>
            <li>Bird location data from eBird.</li>
            <br>
            <li class="list-inline-item"><a href="https://mtc.ca.gov/operations/regional-trails-parks/san-francisco-bay-trail/about-bay-trail" target="_blank">About the Bay Trail</a></li>
            <li class="list-inline-item"><a href="https://mtc.ca.gov/operations/regional-trails-parks/san-francisco-bay-trail/faqs" target="_blank">Bay Trail FAQs</a></li>
            <li class="list-inline-item"><a href="<%= tips_path %>">Birding Tips</a></li>
            <li class="list-inline-item"><a href="<%= donation_path %>">Support the Bay Trail</a></li>
        </ul>
    </footer> 
</div>
