<div class="footer-basic">
    <footer>
        <ul>
            San Francisco Bay Bird Observatory <font size="1">●</font>&nbsp;
            <a href="https://maps.google.com/?q=524+Valley+Way,+Milpitas,+CA+95036&amp;entry=gmail&amp;source=g">
            524 Valley Way, Milpitas, CA 95035</a>&nbsp;<font size="1">●</font>
            408-946-6548&nbsp;<font size="1">●</font>
            <a href="mailto:outreach@sfbbo.org" target="_blank">outreach@sfbbo.org</a>
        </ul>
        <br>
        <ul>
            Images from Wikipedia
        </ul>
        <br>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://mtc.ca.gov/operations/regional-trails-parks/san-francisco-bay-trail/about-bay-trail">About the Bay Trail</a></li>
            <li class="list-inline-item"><a href="https://mtc.ca.gov/operations/regional-trails-parks/san-francisco-bay-trail/faqs">Bay Trail FAQs</a></li>
            <li class="list-inline-item"><a href="#">Birding Tips</a></li>
            <li class="list-inline-item"><a href="donation">Support the Bay Trail</a></li>
        </ul>
    </footer> 
</div>
