<style>
    img {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        background-color: lightblue
    }
    .paragraph {
        font-size: 12pt;
    }
</style>
<footer>
    <div class = "paragraph" style="text-align:center">
        <a href="https://mtc.ca.gov/operations/regional-trails-parks/san-francisco-bay-trail"> 
            About 
        </a>
        <font size="1">●</font>
        <a href="https://mtc.ca.gov/operations/regional-trails-parks/san-francisco-bay-trail/faqs"> 
            FAQs 
        </a>
        <font size="1">●</font>
        Tips
        <font size="1">●</font>
        Donations
    </div>
    <div class="row">
    <div class="col-md-12 navigation" style="padding: 0 !important;">
      <div id="logo">
        <div class="paragraph" style="text-align:center;">
          San Francisco Bay Bird Observatory <font size="1">●</font>&nbsp;
          <a href="https://maps.google.com/?q=524+Valley+Way,+Milpitas,+CA+95036&amp;entry=gmail&amp;source=g">
            524 Valley Way, Milpitas, CA 95035</a>&nbsp;<font size="1">●</font>
            408-946-6548&nbsp;<font size="1">●</font>
            <a href="mailto:outreach@sfbbo.org" target="_blank">outreach@sfbbo.org</a><br>
        </div>
        <center>Images from Wikipedia</center>
      </div>
    </div>
  </div>
</footer>