<%= render "header" %>

<h2 style="padding:10px" class="text-center">
How to Bird
</h2>

<p style="text-indent:50px">
  Location, time of day, weather, and time of year can influence what types and numbers of birds you might observe.
</p>
<p style="text-indent:50px">
  <strong>Get to know your regulars.</strong> Some birds in your neighborhood are common, year-round residents. By learning to identify these birds by sight and sound, and by recognizing their habits (How do they move? What do they eat? What do they sound like?) you will better be able to notice when something unusual comes along.
</p>
<p style="text-indent:50px">
  <strong>Find a good spot.</strong> You might go for a drive through a wildlife area, walk on a trail, or sit in one spot and wait for the birds to come to you. One key is to find a place where two habitats meet, such as the edge of a forest and a meadow, or where muddy shorelines meet the water. Finding a spot where birds can find food and water can increase your chances of finding interesting species.
</p>
<p style="text-indent:50px">
  <strong>Time of day.</strong> If the early bird gets the worm, then the early birder needs to be up even earlier. Many birds sing more at dawn and dusk because the cooler air and lower wind helps their song carry farther. These songs are not only nice to hear, they announce the presence of a bird you may not yet be able to see. While many familiar birds are active during the day, owls and many others become active in the evening and into the night. If you're not a morning person, it's not a deal-breaker.
</p>
<p style="text-indent:50px">
  <strong>Time of year.</strong> Birds go where the food is, and for some that means moving from the Arctic to the Antarctic and back every year. Though you will likely have some year-round residents, some birds in your neighborhood may only appear in the summer, others only in the winter, and still others might only be glimpsed during spring and fall migrations.
</p>
<p style="text-indent:50px">
  <strong>Blend in.</strong> Camouflage is not required, but it's also well known that birders don't wear white. By wearing inconspicuous colors and being quiet, you'll avoid scaring birds away. Staying still helps, too. If you're you're in a good birding spot, the birds will come to you!
</p>
<p style="text-indent:50px">
  <strong>Be patient.</strong> While some birds sing and announce their presence continually, some birds are quieter and blend in to their environments more than others. They might only become obvious when you stay still for a while, staying alert for motion. Patience also goes for yourself too. Don't be too frustrated when you can't ID a bird; the challenge is partly why the activity is rewarding.
</p>
<p style="text-indent:50px">
  <strong>Take Notes.</strong> Try writing a list of the birds you see, and where and when you saw them. If you keep a logbook, over time, you'll be able to anticipate the movements of birds during migrations. Some birders like to keep a life list, recording every species they have seen in the wild.
</p>
<p style="text-indent:50px">
  <strong>Practice!</strong> You don't have to actively be looking for birds to practice. Take note of the birds you see and hear on your walk to work or school, while you're looking out your kitchen window, or while you're doing other activities outdoors. You might notice other interesting things, too!
</p>

<h2 style="padding:10px" class="text-center">
Ethically Birding
</h2>

  <ul style="padding-left:150px">
    <li>
      Be aware of sensitive and threatened species that might be vulnerable to disturbance.
    </li>
    <li>
      Do not share nest locations of sensitive species except with appropriate wildlife officials or conservation scientists.
    </li>
    <li>
      Stay at a distance where you are not agitating birds or modifying their behavior, especially near nests.
    </li>
    <li>
      Leave dogs at home or on a leash if in an area with ground nesting birds. Shorebirds, such as Snowy Plovers, that nest on beaches are especially vulnerable to loose dogs.
    </li>
    <li>
      Limit use of pishing and playback — Do not use in heavily birded areas or for sensitive species.
    </li>
    <li>
      Drive slowly and carefully.
    </li>
    <li>
      Stay on designated trails, do not trample vegetation.
    </li>
    <li>
      If leading a birding group, be aware of group size and make sure it is not so large that it is damaging the habitat or interfering with others using the same area.
    </li>
    <li>
      Make sure all group members are aware of and practicing ethical birding guidelines
    </li>
    <li>
      Respect private property rights, only enter with express permission.
    </li>
    <li>
      Follow all traffic rules, drive the speed limit, don’t park on the road, keep eyes on the road.
    </li>
    <li>
      Don’t point binoculars towards other people or directly into yards or windows.
    </li>
    <li>
      Always be polite and courteous to non-birders you encounter, share your knowledge when appropriate.
    </li>
    <li>
      If birding with others, be respectful of the ability of all group members, be encouraging and share your knowledge with beginners.
    </li>
  </ul>

<ul style="padding-left:150px" class="no-bullets">
  <li>
    Sources:
  </li>
  <li>
    <a href="https://ebird.org/pnw/news/birding-ethics-guidelines-for-respecting-birds-their-habitat-and-each-other" target="_blank">https://ebird.org/pnw/news/birding-ethics-guidelines-for-respecting-birds-their-habitat-and-each-other</a>
  </li>
  <li>
    <a href="https://www.nps.gov/articles/birding-for-beginners.htm" target="_blank">https://www.nps.gov/articles/birding-for-beginners.htm</a>
  </li>
</ul>
<%= render "footer" %>